body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  margin: auto;
  width: 100%;
}

.header {
  padding: 0 20px 0 20px;
}

.request-container, .track-container {
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
  vertical-align: top;
}

.request, .track {
  display: flex;
  height: 21.5px;
}

.track-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  flex: 1;
}

.request-score-input {
  width: 20px;
  text-align: right;
}

.album-cover {
  float: right;
  width: 102px;
  height: 102px;
  border: 1px solid #eee;
}

@media (min-width: 576px) {
  .App {
    width: 576px;
  }
}


@media (min-width: 768px) {
  .App {
    width: 768px;
  }

  .request-container, .track-container {
    display: inline-block;
    width: 344px;
  }

  .request-container {
    position: sticky;
    top: 20px;
  }
}
