@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Nanum Myeongjo for number';
  src: local('NanumMyeongjo'), url(https://fonts.gstatic.com/s/nanummyeongjo/v5/759Ye4mX1L25nmQbM_bHUKYTEc5bGFKVEAN-DJRgJ_w.woff2) format('woff2');

  unicode-range: U+30-39;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nanum Myeongjo for number', 'Playfair Display', 'Nanum Myeongjo', serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.App {
  margin: auto;
  padding: 10px;
  width: 100%;
}

.header {
  padding: 0 10px 0 10px;
  text-align: center;
}

.request-container, .track-container {
  margin-top: 20px;
  padding: 1px 10px;
  vertical-align: top;
}

.reamining-score {
  margin-bottom: 20px;
}

.request, .track {
  display: flex;
  height: 30px;
  line-height: 1.8;

  align-items: center;
}

.track-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  flex: 1;
}

.request-score-input {
  margin-bottom: 6px;
  padding: 4px 4px 0 4px;
  width: 35px;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  text-align: right;
  font-weight: normal;
  font-size: 1em;
  font-family: inherit;
}

.request-score-input:focus {
  border-bottom: 1px solid #000;
}

.album {
  margin-bottom: 30px;
}

.album-header {
  margin-bottom: 20px;
}

.album-cover {
  float: right;
  margin-top: 3px;
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
}

.album-title {
  margin-bottom: 10px;
}

.album-date {
  padding-left: 1px;
  font-size: 0.9em;
}

.request-checkbox, .track-checkbox {
  margin-right: 7px;
  margin-left: 1px;
}

@media (min-width: 576px) {
  .App {
    width: 576px;
  }
}


@media (min-width: 768px) {
  .App {
    width: 768px;
  }

  .request-container, .track-container {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 354px;
  }

  .request-container {
    position: sticky;
    top: 20px;
  }
}
